body{
    background-color: rgb(25,25,20);
}

button{
    background-color: red;
    padding: 20px;
    border-radius: 5px;
    color: white;
    border: 0px;
    transition: 0.3s ease;
}
button:hover{
    background-color: rgb(255, 50, 50);
    cursor: pointer;
    transform: scale(1.04);
}
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-height: 30vh;
}
